h1, h2, ul {
  margin: 0;
  padding: 0;
}

.grid {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 1020px) {
  .grid {
    column-gap: 24 px;
    grid-template-columns: repeat(12, 1fr);
  }
}

.grid--desktop {
  display: block;
}

@media (width >= 1020px) {
  .grid--desktop {
    display: grid;
  }

  .grid__item--desktop-1-1 {
    grid-column: 1 / 2;
  }

  .grid__item--desktop-1-2 {
    grid-column: 1 / 3;
  }

  .grid__item--desktop-1-3 {
    grid-column: 1 / 4;
  }

  .grid__item--desktop-1-4 {
    grid-column: 1 / 5;
  }

  .grid__item--desktop-1-5 {
    grid-column: 1 / 6;
  }

  .grid__item--desktop-1-6 {
    grid-column: 1 / 7;
  }

  .grid__item--desktop-1-7 {
    grid-column: 1 / 8;
  }

  .grid__item--desktop-1-8 {
    grid-column: 1 / 9;
  }

  .grid__item--desktop-1-9 {
    grid-column: 1 / 10;
  }

  .grid__item--desktop-1-10 {
    grid-column: 1 / 11;
  }

  .grid__item--desktop-1-11 {
    grid-column: 1 / 12;
  }

  .grid__item--desktop-1-12 {
    grid-column: 1 / 13;
  }

  .grid__item--desktop-2-2 {
    grid-column: 2 / 3;
  }

  .grid__item--desktop-2-3 {
    grid-column: 2 / 4;
  }

  .grid__item--desktop-2-4 {
    grid-column: 2 / 5;
  }

  .grid__item--desktop-2-5 {
    grid-column: 2 / 6;
  }

  .grid__item--desktop-2-6 {
    grid-column: 2 / 7;
  }

  .grid__item--desktop-2-7 {
    grid-column: 2 / 8;
  }

  .grid__item--desktop-2-8 {
    grid-column: 2 / 9;
  }

  .grid__item--desktop-2-9 {
    grid-column: 2 / 10;
  }

  .grid__item--desktop-2-10 {
    grid-column: 2 / 11;
  }

  .grid__item--desktop-2-11 {
    grid-column: 2 / 12;
  }

  .grid__item--desktop-2-12 {
    grid-column: 2 / 13;
  }

  .grid__item--desktop-3-3 {
    grid-column: 3 / 4;
  }

  .grid__item--desktop-3-4 {
    grid-column: 3 / 5;
  }

  .grid__item--desktop-3-5 {
    grid-column: 3 / 6;
  }

  .grid__item--desktop-3-6 {
    grid-column: 3 / 7;
  }

  .grid__item--desktop-3-7 {
    grid-column: 3 / 8;
  }

  .grid__item--desktop-3-8 {
    grid-column: 3 / 9;
  }

  .grid__item--desktop-3-9 {
    grid-column: 3 / 10;
  }

  .grid__item--desktop-3-10 {
    grid-column: 3 / 11;
  }

  .grid__item--desktop-3-11 {
    grid-column: 3 / 12;
  }

  .grid__item--desktop-3-12 {
    grid-column: 3 / 13;
  }

  .grid__item--desktop-4-4 {
    grid-column: 4 / 5;
  }

  .grid__item--desktop-4-5 {
    grid-column: 4 / 6;
  }

  .grid__item--desktop-4-6 {
    grid-column: 4 / 7;
  }

  .grid__item--desktop-4-7 {
    grid-column: 4 / 8;
  }

  .grid__item--desktop-4-8 {
    grid-column: 4 / 9;
  }

  .grid__item--desktop-4-9 {
    grid-column: 4 / 10;
  }

  .grid__item--desktop-4-10 {
    grid-column: 4 / 11;
  }

  .grid__item--desktop-4-11 {
    grid-column: 4 / 12;
  }

  .grid__item--desktop-4-12 {
    grid-column: 4 / 13;
  }

  .grid__item--desktop-5-5 {
    grid-column: 5 / 6;
  }

  .grid__item--desktop-5-6 {
    grid-column: 5 / 7;
  }

  .grid__item--desktop-5-7 {
    grid-column: 5 / 8;
  }

  .grid__item--desktop-5-8 {
    grid-column: 5 / 9;
  }

  .grid__item--desktop-5-9 {
    grid-column: 5 / 10;
  }

  .grid__item--desktop-5-10 {
    grid-column: 5 / 11;
  }

  .grid__item--desktop-5-11 {
    grid-column: 5 / 12;
  }

  .grid__item--desktop-5-12 {
    grid-column: 5 / 13;
  }

  .grid__item--desktop-6-6 {
    grid-column: 6 / 7;
  }

  .grid__item--desktop-6-7 {
    grid-column: 6 / 8;
  }

  .grid__item--desktop-6-8 {
    grid-column: 6 / 9;
  }

  .grid__item--desktop-6-9 {
    grid-column: 6 / 10;
  }

  .grid__item--desktop-6-10 {
    grid-column: 6 / 11;
  }

  .grid__item--desktop-6-11 {
    grid-column: 6 / 12;
  }

  .grid__item--desktop-6-12 {
    grid-column: 6 / 13;
  }

  .grid__item--desktop-7-7 {
    grid-column: 7 / 8;
  }

  .grid__item--desktop-7-8 {
    grid-column: 7 / 9;
  }

  .grid__item--desktop-7-9 {
    grid-column: 7 / 10;
  }

  .grid__item--desktop-7-10 {
    grid-column: 7 / 11;
  }

  .grid__item--desktop-7-11 {
    grid-column: 7 / 12;
  }

  .grid__item--desktop-7-12 {
    grid-column: 7 / 13;
  }

  .grid__item--desktop-8-8 {
    grid-column: 8 / 9;
  }

  .grid__item--desktop-8-9 {
    grid-column: 8 / 10;
  }

  .grid__item--desktop-8-10 {
    grid-column: 8 / 11;
  }

  .grid__item--desktop-8-11 {
    grid-column: 8 / 12;
  }

  .grid__item--desktop-8-12 {
    grid-column: 8 / 13;
  }

  .grid__item--desktop-9-9 {
    grid-column: 9 / 10;
  }

  .grid__item--desktop-9-10 {
    grid-column: 9 / 11;
  }

  .grid__item--desktop-9-11 {
    grid-column: 9 / 12;
  }

  .grid__item--desktop-9-12 {
    grid-column: 9 / 13;
  }

  .grid__item--desktop-10-10 {
    grid-column: 10 / 11;
  }

  .grid__item--desktop-10-11 {
    grid-column: 10 / 12;
  }

  .grid__item--desktop-10-12 {
    grid-column: 10 / 13;
  }

  .grid__item--desktop-11-11 {
    grid-column: 11 / 12;
  }

  .grid__item--desktop-11-12 {
    grid-column: 11 / 13;
  }
}

.page {
  color: #3e3e3e;
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.page__body {
  margin: 0;
}

.page__body--with-menu {
  overflow: hidden;
}

.page__menu {
  transition: transform .3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__menu:target {
  transform: translateX(0);
}

.page__section {
  margin-bottom: 64px;
}

@media (width >= 1020px) {
  .page__section {
    margin-bottom: 104px;
  }
}

.page__section-title {
  text-align: center;
  letter-spacing: -1.5px;
  color: #000;
  margin: 0 0 32px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

@media (width >= 1020px) {
  .page__section-title {
    margin-bottom: 56px;
    font-size: 48px;
    line-height: 48px;
  }
}

.page__section-title:after {
  content: " ";
  background-image: url("crown.3669f5c5.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 23px;
  height: 16px;
  margin: 4px auto 0;
  display: block;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (width >= 1020px) {
  .container {
    padding: 0 40px;
  }
}

.header {
  background-image: url("header.b382207e.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__content {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 24px 0 80px;
  display: flex;
}

.header__top {
  --icon-width: 18px;
  grid-template-columns: var(--icon-width) 1fr var(--icon-width);
  place-items: center;
  display: grid;
}

@media (width >= 1020px) {
  .header__top {
    --icon-width: 24px;
  }
}

.header__title {
  color: #fff;
  letter-spacing: -1px;
  font-size: 46px;
  font-weight: 700;
  line-height: 40px;
}

@media (width >= 1020px) {
  .header__title {
    letter-spacing: -1.5px;
    font-size: 80px;
    line-height: 80px;
  }
}

.header__title:before {
  content: "";
  background-color: #fff;
  width: 40px;
  height: 2px;
  margin-bottom: 24px;
  display: block;
}

.about__title {
  letter-spacing: -1.5px;
  color: #000;
  align-items: center;
  margin: 0 0 48px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

@media (width >= 1020px) {
  .about__title {
    margin-bottom: 0;
    font-size: 48px;
    line-height: 48px;
  }
}

.about__title-link {
  color: #0075ff;
  text-decoration: none;
}

@media (width >= 1020px) {
  .about__title-link {
    display: block;
  }
}

.about__subtitle {
  color: #0075ff;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  display: block;
}

.about__paragraph {
  margin: 0 0 27px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__paragraph--important {
  font-weight: bold;
}

.gallery__place {
  margin-bottom: 32px;
}

@media (width >= 1020px) {
  .gallery__place {
    margin-bottom: 40px;
  }
}

.testimonials__item {
  margin-bottom: 48px;
}

.testimonials__item:last-child {
  margin-bottom: 0;
}

@media (width >= 1020px) {
  .testimonials__item {
    margin-bottom: 0;
  }
}

.testimonial__photo-container {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  margin-bottom: 28px;
  display: grid;
}

@media (width >= 1020px) {
  .testimonial__photo-container {
    margin-bottom: 32px;
  }
}

.testimonial__photo {
  border-radius: 50%;
  grid-column: 2 / 4;
  width: 100%;
  max-height: 150px;
  transition: transform .3s;
}

.testimonial__photo:hover {
  transform: scale(1.2);
}

.testimonial__name {
  text-align: center;
  margin: 0 0 4px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.testimonial__role {
  text-align: center;
  color: #9fadc2;
  margin: 0 0 4px;
  font-size: 14px;
  line-height: 27px;
}

.testimonial__about {
  text-align: center;
}

.link {
  color: #0075ff;
  text-decoration: none;
}

.contact-us__info {
  margin: 0 0 24px;
}

.contact-us__info--last {
  margin-bottom: 32px;
}

.contact-us__info-title {
  color: #9fadc2;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 27px;
}

.contact-us__info-link {
  color: inherit;
  text-decoration: none;
}

.contact-us__info-link:hover {
  color: #0075ff;
  transition: color .3s;
}

.contact-us__field {
  margin: 0 0 16px;
}

.contact-us__field--last {
  margin: 0 0 32px;
}

.form-field {
  box-sizing: border-box;
  color: #000;
  background-color: #f7f8ff;
  border: 2px solid #0000;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  display: block;
}

.form-field:hover {
  border-color: #ccd0e0;
}

.form-field:focus {
  border-color: #0075ff;
  outline: none;
}

.form-field::placeholder {
  color: #8f99a8;
  font-size: 14px;
  line-height: 20px;
}

.form-field--textarea {
  resize: none;
  height: 144px;
  font-family: inherit;
}

.logo__image {
  height: 48px;
  transition: transform .3s;
}

@media (width >= 1020px) {
  .logo__image {
    height: 80px;
  }
}

.logo__image:hover {
  transform: scale(1.05);
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  padding-bottom: 100%;
  text-decoration: none;
  display: block;
  position: relative;
}

.icon__tooltip {
  color: #fff;
  opacity: 0;
  letter-spacing: 2px;
  width: max-content;
  padding-right: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  transition: opacity .3s;
  display: block;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

@media (width >= 1020px) {
  .icon:hover .icon__tooltip {
    opacity: 1;
    pointer-events: all;
  }
}

.icon--menu {
  background-image: url("menu.5116ced5.svg");
  transition: all .3s;
}

.icon--menu:hover {
  background-image: url("menu_hover.ca418b90.svg");
}

.icon--phone {
  background-image: url("phone.181bcdd6.svg");
}

.icon--cross {
  background-image: url("cross.64d8e85c.svg");
}

.top-actions {
  --icon-width: 18px;
  grid-template-columns: var(--icon-width) 1fr var(--icon-width);
  place-items: center;
  display: grid;
}

@media (width >= 1020px) {
  .top-actions {
    --icon-width: 24px;
  }
}

.place__photo-container {
  box-sizing: border-box;
  width: 100%;
  max-height: 256px;
  transition: transform .3s;
  position: relative;
  overflow: hidden;
}

.place__photo-container:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.place__photo-container:hover {
  transform: scale(1.05);
}

@media (width >= 1020px) {
  .place__photo-container {
    height: 256px;
    padding-bottom: 0;
  }
}

.place__photo {
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.place__photos {
  margin-bottom: 16px;
}

@media (width >= 1020px) {
  .place__photos {
    margin-bottom: 24px;
  }
}

.place__link {
  color: #0075ff;
  font-weight: bold;
  text-decoration: none;
}

.button {
  box-sizing: border-box;
  color: #0075ff;
  cursor: pointer;
  border: 2px solid #0075ff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.button--primary {
  color: #fff;
  background-color: #005ecc;
  border-color: #005ecc;
}

.button:hover {
  color: #fff;
  background-color: #005ecc;
  border-color: #005ecc;
  border-radius: 8px;
  box-shadow: 0 13px 27px #0053b575;
}

.button:active {
  background-color: #005ecc;
  border-color: #005ecc;
  box-shadow: 0 8px 14px #0053b57a;
}

.menu {
  background-color: #0075ff;
}

.menu__content {
  box-sizing: border-box;
  height: 100vh;
  padding: 24px 0;
  overflow-y: auto;
}

.menu__top {
  --icon-width: 18px;
  grid-template-columns: var(--icon-width) 1fr var(--icon-width);
  place-items: center;
  margin-bottom: 48px;
  display: grid;
}

@media (width >= 1020px) {
  .menu__top {
    --icon-width: 24px;
  }
}

.menu__list {
  margin: 0 0 48px;
  padding: 0;
  list-style: none;
}

.menu__item {
  margin-bottom: 24px;
}

.menu__item:last-child {
  margin-bottom: 0;
}

.menu__link {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 1px solid #0000;
  padding-bottom: 8px;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  transition: border-color .3s;
  display: inline-block;
}

.menu__link:hover {
  border-color: #fff;
}

.menu__call {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  width: max-content;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  display: block;
}

.menu__call--phone {
  margin-bottom: 16px;
}

.menu__call--action {
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
}

.footer {
  background-image: url("footer.830fde42.jpg");
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: flex-end;
  height: 320px;
  padding-bottom: 24px;
  display: flex;
}

@media (width >= 1020px) {
  .footer {
    height: 360px;
    padding-bottom: 36px;
  }
}

/*# sourceMappingURL=index.971c2ea4.css.map */
